<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css')}}">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=1c445bccc8dfc8ee7303d08dc1c386a8"></script>
    <!-- <script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script> -->
    <title>添加多个标注点</title>
</head>

<body>
    <div style="width:100%;height:100%;border:1px solid gray" id="allmap"></div>
</body>

</html>
<script type="text/javascript" src="{{static_url('js/baidu_map.js')}}"></script>
