<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>Learning python</title>
	</head>
    <body>
        <header>
            {% block header %}{% end %}
        </header>
        <content>
            {% block body %}{% end %}
        </content>
        <footer>
            {% set website = "<a href='http://www.baidu.com'>welcome to my website</a>" %}
            {% raw website %}
        </footer>
        <script src="{{static_url("js/jquery-2.1.4.min.js")}}"></script>
        <script src="{{static_url("js/script.js")}}"></script>
    </body>
</html>
